body {
    margin: 0;
    align-items: center;
}



#header {
    position: absolute;
    height: 100px;
    width: 100vw;
    background-color: black;
    text-align: center;

    /* kom */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#formik {
    position: absolute;
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 10px solid green;
}

.h1text {
    font-size: 50px;
}

#name {
    height: 40px;
    width: 500px;
    font-size: 50px;
    text-align: center;
}

#login {
    width: 300px;
    height: 40px;
    font-size: 30px;
}

#restart {
    width: 300px;
    height: 40px;
    font-size: 30px;
}

#komunikat {
    font-size: 70px;
    color: brown;
    margin: 0;
    padding: 0;
}

#czasnawykonanieruchu {
    font-size: 70px;
    color: brown;
    margin: 0;
    padding: 0;
}

#waiting {
    position: absolute;
    background-color: rgb(63, 122, 66);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tablica {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: aqua;
    vertical-align: bottom;
}

#sekundnik {
    position: absolute;
    text-align: center;
    background-color: rgb(63, 122, 66);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}